<!DOCTYPE html>
<html data-csrf-token="{{csrfToken}}" data-trace-id="{{traceId}}">

<head>
	<meta charset="UTF-8">
	<title>test page 1</title>
	<link nonce="{{{nonce}}}" rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	TEST PAGE 444

	<script src="/assets/js/index.js" nonce="{{{nonce}}}"></script>
</body>

</html>
